$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import 'reset.css';

$list-border: 2px solid #d1cfcf;
$primary-font-size: 24px;
$buttons-content-font-size: 16.6px;
$prim-left-distance: 6px;

@mixin primary_font() {
  font-family: Lucida Grande Serif;
  font-size: $primary-font-size;
  font-weight: bold;
  color: #8b8f97;
}

@mixin buttons_style() {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #c8cace;
  font-size: $buttons-content-font-size;
  :active {
    background-color: #dcdee2;
  }
}

@mixin positioning() {
  display: inline-block;
  vertical-align: middle;
}

body {
  @include primary_font;
  background-color: #f6f3f3;
  button {
    @include positioning;
    text-align: center;
  }
  button, input[type="checkbox"], input[type="text"] {
    outline: none;
    border: none;
  }
  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
  input[type="checkbox"] + .pseudo-checkbox {
    margin: auto 20px;
    @include positioning;
    width: 18px;
    height: 18px;
    border: 1.8px solid #6bb3ca;
    background-color: #faf9f9;
    text-align: center;
    font-size: 14px;
    color: #cccecf;
  }
  input[type="checkbox"]:checked + .pseudo-checkbox {
    margin: auto 20px;
    @include positioning;
    width: 18px;
    height: 18px;
    border: 1.8px solid #c4c4c4;
    background-color: #f6f5f5;
    text-align: center;
    font-size: 14px;
    color: #cccecf;
  }
  input[type="checkbox"] + span i {
    opacity: 0;
  }
  input[type="checkbox"]:checked + span i {
    opacity: 1;
  }
  .checked {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}

main {
  background: url(line.png) repeat-y;
  background-color: #ffffff;
  width: 500px;
  margin: 160px auto;
  border: $list-border;
  header {
    width: 100%;
    border-bottom: 1.8px solid #e6ebed;
    label {
      @include positioning;
      margin-bottom: $prim-left-distance;
    }
    .input-text {
      padding-left: $prim-left-distance;
      @include primary_font;
      @include positioning;
    }
    .add-button {
      padding-left: 58px;
      @include buttons_style;
    }
  }
  ul {
    li:hover .tool-bar {
      opacity: 1;
    }
    .view {
      height: 44px;
      border-bottom: 1.5px solid #e6ebed;
      label {
        @include positioning;
        padding-top: 7px;
      }
      .to-do-span {
        @include positioning;
        height: 24px;
        margin-top: 12px;
        padding-left: $prim-left-distance;
      }
      .internal-element {
        @include positioning;
        @include buttons_style;
        padding-left: $prim-left-distance;
        margin-top: 12px;
        width: 160px;
        height: 24px;
        font-style: italic;
      }
      .tool-bar {
        width: 84px;
        height: 44px;
        float: right;
        font-size: 0;
        opacity: 0;;
        .edit {
          padding-top: 4px;
          width: 40px;
          height: 40px;
          @include buttons_style;
        }
        .delete {
          padding-top: 4px;
          width: 40px;
          height: 40px;
          @include buttons_style;
        }
      }
    }
  }
  .footer {
    position: relative;
    overflow: hidden;
    margin: 8px 0 8px 40px;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
      left: 50%;
      float: left;
      li {
        position: relative;
        left: -50%;
        float: left;
        button {
          @include buttons_style;
        }
      }
      .filtered-button {
        background-color: #f1f0f0;
        border: 1.5px solid #6bb3ca;
      }
    }
  }
}


