$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome';
@import 'reset.css';

@font-face {
  font-family: "Lucida Grande";
  src: url('fonts/LucidaGrande.ttf') format('truetype');
}

$list-border: 2px solid #d1cfcf;
$primary-font-size: 18px;
$primary-font-weight: 500;
$primary-font-color: #8b8f97;
$body-bg-color: #f6f3f3;
$buttons-content-font-size: 16px;

@mixin primary_font() {
  font-family: "Lucida Grande", Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: $primary-font-weight;
  color: $primary-font-color;
}

@mixin set_width_height($width, $height) {
  width: $width;
  height: $height;
}

@mixin buttons_style() {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #c8cace;
  font-size: $buttons-content-font-size;
  :active {
    background-color: #dcdee2;
  }
}

@mixin positioning() {
  display: inline-block;
  vertical-align: middle;
}

body {
  @include primary_font;
  background-color: $body-bg-color;
  input[type="text"] {
    @include primary_font;
    @include positioning;
    @include set_width_height(300px, 34px);
  }
  button, input[type="checkbox"], input[type="text"] {
    outline: none;
    border: none;
  }
  input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
    z-index: -1;
  }
  input[type="checkbox"] + .pseudo-checkbox {
    @include positioning;
    @include set_width_height(18px, 18px);
    border: 1.8px solid #6bb3ca;
    background-color: #faf9f9;
    text-align: center;
    font-size: 16px;
    color: #cccecf;
  }
  input[type="checkbox"]:checked + .pseudo-checkbox {
    @include positioning;
    @include set_width_height(18px, 18px);
    border: 1.8px solid #c4c4c4;
    background-color: #f6f5f5;
    text-align: center;
    font-size: 16px;
    color: #cccecf;
  }
  input[type="checkbox"] + span i {
    opacity: 0;
  }
  input[type="checkbox"]:checked + span i {
    opacity: 1;
  }
  .checked {
    color: #d9d9d9;
    text-decoration: line-through;
  }
}

main {
  background: url(img/line.png) repeat-y;
  background-color: #ffffff;
  border: $list-border;
  @include set_width_height(500px, auto);
  margin: 170px auto;
  font-size: $primary-font-size;
  header {
    @include positioning;
    @include set_width_height(100%, 80px);
    border-bottom: 1.8px solid #e6ebed;
    label {
      @include positioning;
      margin: 30px 44px 16px 28px;
    }
    .input-text {
      font-size: $primary-font-size;
      margin-top: 10px;
    }
    .add-button {
      @include buttons_style;
      @include positioning;
      margin: 42px 0 24px 20px;
    }
  }
  ul {
    li:hover .tool-bar {
      opacity: 1;
    }
    .view {
      @include set_width_height(auto, 60px);
      border-bottom: 1.5px solid #e6ebed;
      label {
        @include positioning;
        @include set_width_height(20px, 20px);
        margin: 16px 44px 12px 28px;
      }
      .to-do-span {
        @include positioning;
        @include set_width_height(300px, 36px);
        margin: 22px 0 2px 0;
      }
      .internal-element {
        @include positioning;
        margin: 16px 0 8px 0;
        font-style: italic;
      }
      .tool-bar {
        @include positioning;
        margin: 12px 0 8px 0;
        @include set_width_height(80px, 40px);
        float: right;
        font-size: 0;
        opacity: 0;
        .edit {
          width: 40px;
          height: 40px;
          @include buttons_style;
        }
        .delete {
          @include set_width_height(40px, 40px);
          @include buttons_style;
        }
      }
    }
  }
  .footer {
    @include set_width_height(100%, 80px);
    position: relative;
    overflow: hidden;
    ul {
      @include positioning;
      @include set_width_height(340px, 28px);
      margin: 30px auto 26px 40px;
      list-style: none;
      position: relative;
      left: 50%;
      float: left;
      li {
        position: relative;
        left: -50%;
        float: left;
        button {
          @include buttons_style;
        }
      }
      .filtered-button {
        background-color: #f1f0f0;
        border: 1.8px solid #6bb3ca;
      }
    }
  }
}


