/*---------------------------------GLOBAL------------------------*/
body {
	width: 450px;
	border: 1.5px solid #0A3240;
	border-radius: 10px;
	background-color: #E6EFF2;
	margin: auto;
	margin-top: 40px;
}

button, input[type="checkbox"] {
	outline: none;
}

button, input[type="text"] {
	outline: none;
}

button, input[type="button"] {
	outline: none;
}


/*---------------------------------INPUT SECTION------------------------*/
header {
 	/*border: 2px solid black;*/
	text-align: center;
 }

header input::input-placeholder:focus {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
}

.hat {
	background-color: #0A52F0;
	width: 450px;
	height: 60px;
	margin: 0 auto 0 auto;
	border-radius: 10px 10px 0 0;

}
.hat h1 {
	font-family: Lucidatypewriter, monospace;
	font-weight: 600;
	padding-top: 10px;
	font-size: 35px;
	color: #E4E7ED;
}

.input-text {
	width: 200px;
	height: 26px;
	border: 1px solid #103845;
	border-radius: 0 8px 0 8px;
	margin-top: 10px;
}

.add-button {
	height: 29.33px;
	width: 29.33px;
	margin-left: 7px;
}


/*---------------------------------TODO LIST SECTION------------------------*/
.main {
 	border: 1px solid #0F3440;
 	width: 420px
 	padding: 0;
 	margin: 15px 15px 15px 15px;
}

.main ul {
	padding-left: 0;
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}

.main li {
	/*list-style-type: none;
	border-bottom: 2px solid black;*/	
	cursor: default;
}

.main li:nth-child(odd) {
	background-color: #AAB2B5;
}

.view {
	margin: 0;
	padding: 0;
	height: 40px;
	bottom-border: 1px solid #0F3440;
	padding-top: 18px;

}

span {
	padding-left: 12px;
	font-family: "Ð¡omic Sans MS" serif;
	font-weight: 400;
	font-size: 16px;
	cursor: default;
}

.checked {
	color: #d9d9d9;
	text-decoration: line-through;
}

/*-----------------------------------tools bar----------------------------------------*/

.toolBar {
	padding: 0;
	margin: 0;
	/*border: 0.5px solid #0F3440;
	border-radius: 5px 5px 5px 5px;*/
	width: 60px;
	height: 20px;
	float: right;
	margin-right: 7px;
	font-size: 0;
	transform: translateX(5px);
	transform: translateY(-14px);
	opacity: 0;
}

li:hover .toolBar {
	opacity: 1;
}

.check {
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 10px;
	/*border-radius: 5px 0 0 5px;*/
}

.edit {
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 10px;
}

.del {
	width: 20px;
	height: 20px;
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 10px;
	/*border-radius: 0 5px 5px 0;*/
}

.int-el {
	width: 200px;
	height: 26px;
	border: 1px solid #103845;
	border-radius: 0 8px 0 8px;
	margin-top: auto;
	margin-bottom: auto; 
}

/*----------------------------------------------------------------*/

#empty_message {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 13px;
	display: none;
}

/*-----------------------------FOOTER-----------------------------*/

.foot{
/*border: 2px solid black;*/
position: relative;
overflow:hidden;
margin:15px 0
}

.foot ul {
list-style:none;
margin:0;
padding:0;
position: relative;
left:50%;
float:left;
}

.foot ul li {
position:relative;
left:-50%;
float:left;
margin:0 10px;
}

.filtered-button {
	border: 1.5px solid #5b3416;
}

.last-foot {
	
	text-align: center;
	font-size: 13px;
	margin-top: 15px;
	border-top: 1px solid #50627f;
}

.last-foot p {
	font-color: #50627f;
}

